@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

@layer base {
  :root {
    --color-one: 72, 88, 45;
    --color-two: 115, 141, 72;
    --color-three: 144, 177, 91;
    --color-four: 177, 200, 140;
    --color-five: 210, 223, 189;
    --color-six: 243, 247, 238;
    --color-stroke: 235, 235, 235;
    --color-protein: 232, 143, 191;
    --color-fat: 197, 172, 239;
    --color-carb: 148, 187, 200;
    --color-vegetarian: 37, 114, 31;
    --color-hug: 189, 189, 189;
    --color-neutral: 34, 34, 34;
    --color-star: 255, 174, 95;
    --color-border: 245, 245, 245;
    --color-secondary-light: 124, 91, 177;
    --color-secondary-dark: 86, 63, 123;
    --color-dark: 88, 108, 95;
    --swiper-navigation-color: white;
  }
}

/* .swiper {
  width: 100%;
  height: 100%;
} */

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/

.banner .swiper-slide img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
}

.banner .swiper-slide {
  z-index: 1;
}

.swiper-pagination-bullet {
  background: #999;
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  background: #90B15B;
  padding: 1.6rem;
  border-radius: .3rem;
}

.banner .swiper-pagination {
  margin-top: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .swiper-pagination .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
  height: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
  background-color: transparent;
  border: 2px solid rgba(var(--color-neutral), 0.5);

}


.banner .swiper-pagination .swiper-pagination-bullet-active {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
  height: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
  background-color: rgba(var(--color-neutral), 0.5);
  border: none;
}