@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer base {
  :root {
    --color-one: 72, 88, 45;
    --color-two: 115, 141, 72;
    --color-three: 144, 177, 91;
    --color-four: 177, 200, 140;
    --color-five: 210, 223, 189;
    --color-six: 243, 247, 238;
    --color-stroke: 235, 235, 235;
    --color-protein: 232, 143, 191;
    --color-fat: 197, 172, 239;
    --color-carb: 148, 187, 200;
    --color-vegetarian: 37, 114, 31;
    --color-hug: 189, 189, 189;
  }
}