@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

@layer base {
  :root {
    --color-one: 72, 88, 45;
    --color-two: 115, 141, 72;
    --color-three: 144, 177, 91;
    --color-four: 177, 200, 140;
    --color-five: 210, 223, 189;
    --color-six: 243, 247, 238;
    --color-stroke: 235, 235, 235;
    --color-protein: 232, 143, 191;
    --color-fat: 197, 172, 239;
    --color-carb: 148, 187, 200;
    --color-vegetarian: 37, 114, 31;
    --color-hug: 189, 189, 189;
    --color-neutral: 34, 34, 34;
    --color-star: 255, 174, 95;
  }
}